


<section id="content-wrapper">
  <div class="container-fluid">
    <div class="row p-t-b-20">
      <div class="col-md-12">
        <div class="form-card no-b">
          <div class="login-form-card">
            <!-- <div class="login-form-content"> -->
            <h2 class="form-title">Teachers</h2>


            <!--  <div class="form-define-head">
                <h4><span>step 3</span>Other Links</h4>
              </div> -->

            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">

                  <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                      <tr>
                        <!--  <th>Assigned Date</th> -->
                        <th>Name</th>
                        <th>Email</th>
                        <th>School Name</th>
                        <th>Action</th>

                        <th>Assigned PDF</th>
                        <th>status</th>
                      </tr>
                    </thead>
                    {{#each rows}}
                      <tbody>
                        <tr>
                          <!--  <td>01/08/2020</td> -->
                          <td>{{firstname }} {{lastname}}</td>
                          <td>{{email}}</td>
                          <td>{{schoolname}}</td>

                          <td align="center">
                            <a href="" class="fa fa-edit" style="color:blue;">


                              <form id="form3" action="/admin/delete-teacher" method="POST">
                                <input type="hidden" name="id" value="{{id}}">
                                <button class="fa fa-trash-o" style="color: red;"></button>

                              </form>
                              <script>
                                document.getElementById("name").onclick = function () {
                                  document.getElementById("form3").submit();
                                }
                              </script>

                          </td>

                          <td><a href="assigned-pdf-student-view.php">5</a></td>
                          <td align="center">

                            <form id="form4" action="/admin/change-teacher-status" method="POST">
                              <input type="hidden" name="id" value="{{id}}">
                              <button class="badge badge-success" name="status"
                                value="{{isActive}}">{{isActive}}</button>

                            </form>
                            <script>
                              document.getElementById("name").onclick = function () {
                                console.log("hi");
                                document.getElementById("form4").submit();
                              }
                            </script>

                          </td>
                        </tr>
                      </tbody>
                    {{/each}}
                  </table>

                </div>
              </div>


            </div>


          </div>
        </div>
        <!--  </div> -->
      </div>
    </div>
  </div>
</section>
</div>
{{!-- <script>
  function getdata(id) {
    var values = document.getElementById('status').value;
    console.log(values)
    console.log(id)
  }

</script> --}}
{{!-- <script>
  var x = document.getElementById("changeStatus").value;
  console.log(x)
</script> --}}
{{!-- <?php include( 'include/dashboard-footer.php'); ?> --}}
<script>
  $(':radio').change(function () {
    console.log('New star rating: ' + this.value);
  });
</script>
<script>
  $(document).ready(function () {
    var buttonAdd = $("#add-button2");
    var buttonRemove = $("#remove-button2");
    var className = ".dynamic-input2";
    var count = 0;
    var field = "";
    var maxFields = 50;

    function totalFields() {
      return $(className).length;
    }

    function addNewField() {
      count = totalFields() + 1;
      field = $("#dynamic-input-2").clone();
      field.attr("id", "dynamic-input-" + count);
      field.children("label").text("Field " + count);
      field.find("input").val("");
      $(className + ":last").after($(field));
    }

    function removeLastField() {
      if (totalFields() > 1) {
        $(className + ":last").remove();
      }
    }

    function enableButtonRemove() {
      if (totalFields() === 2) {
        buttonRemove.removeAttr("disabled");
        buttonRemove.addClass("shadow-sm");
      }
    }

    function disableButtonRemove() {
      if (totalFields() === 1) {
        buttonRemove.attr("disabled", "disabled");
        buttonRemove.removeClass("shadow-sm");
      }
    }

    function disableButtonAdd() {
      if (totalFields() === maxFields) {
        buttonAdd.attr("disabled", "disabled");
        buttonAdd.removeClass("shadow-sm");
      }
    }

    function enableButtonAdd() {
      if (totalFields() === (maxFields - 1)) {
        buttonAdd.removeAttr("disabled");
        buttonAdd.addClass("shadow-sm");
      }
    }

    buttonAdd.click(function () {
      addNewField();
      enableButtonRemove();
      disableButtonAdd();
    });

    buttonRemove.click(function () {
      removeLastField();
      disableButtonRemove();
      enableButtonAdd();
    });
  });
</script>