<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jewish Day School|Home</title>
  <link rel="icon" href="/images/favicon.png" type="image/x-icon">
  <link rel="stylesheets" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheets" href="/stylesheets/style.css">
  <link rel="stylesheets" href="/stylesheets/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheets" type="text/css"
    href="https://www.jqueryscript.net/demo/jQuery-Plugin-For-Country-Selecter-with-Flags-flagstrap/dist/css/flags.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.0/flexslider.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/css/intlTelInput.css" rel="stylesheet"
    media="screen">

  <link rel="stylesheets" href="/stylesheets/school.css">
</head>

<body class="main">
  <header>


    <nav class="navbar navbar-expand-sm d-flex justify-content-between">
      <div class="container">
        <div class="justify-content-start navbar-logo">
          <a class="navbar-brand" href="/">
            <img src="/images/logo-new.jpg">
          </a>
        </div>
        <div class="justify-content-start">
          <!--   <ul class="navbar-nav">
        <li class="nav-item"> <a class="nav-link" href="#"><i class="fa fa-heart mr-5"></i>Wishlist</a>
        </li>
      </ul> -->
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"> <span
            class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
          <ul class="navbar-nav">


          </ul>
        </div>
        <div class="navbar-icon-div">
          <ul>

            <li class="login-btn"><a href="/user/login" class="head-btn">Login<b class="caret"></b></a></button>
            </li>
            <!--   <li><button class="head-btn"><a href="sign-up.php">SignUp</a></button></li> -->
            <li class="signup-btn"><a href="#" class="head-btn dropdown-toggle" data-toggle="dropdown">Sign Up<b
                  class="caret"></b></a></button>
              <ul class="dropdown-menu multi-level">
                <li><a href="/teacher/teacher-sign-up">As Teacher</a></li>
                <li><a href="/user/student-sign-up">As Student</a>

                </li>
              </ul>
            </li>

          </ul>

        </div>
      </div>
    </nav>

  </header>