<div class="modal" id="assign-pdf">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Assign</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Select Main Pdf</label>
              <select placeholder=" " id="single" class="js-states form-control" style="width: 100%;">
                <option>Pdf1</option>
                <option>Pdf2</option>
                <option>Pdf3</option>
              </select>
            </div>
            <div class="form-group">
              <label>Select Sub Project</label>
              <select placeholder=" " id="single" class="js-states form-control" style="width: 100%;">
                <option>Sub1</option>
                <option>Sub2</option>
                <option>Su3</option>
              </select>
            </div>
            <div class="form-group">
              <label>Select Page</label>
              <select placeholder=" " id="single" class="js-states form-control" style="width: 100%;">
                <option>Page 1</option>
                <option>Page 2</option>
                <option>Page 3 </option>
              </select>
            </div>
            <div class="form-group">
              <label>Select Student</label>
              <select class="form-control" id="multiple-checkboxes" multiple="multiple" style="width: 100%;">
                <option>Rahul</option>
                <option>Mohan</option>
                <option>Sonu</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>
          </div>

          <div class="col-md-12 text-center">
            <button class="main-btn">Assign</button>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>

<div class="modal fade in sp-map" id="modal-default2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="font-size: 32px;">×</span>
        </button>

      </div>
      <div class="modal-body">
        <div class="paper">
          <div class="row">
            <div class="col-md-12">
              <div class="container-fluid">
                <!--  <div class="login-form-content"> -->
                <form action="javascript:(0);">
                  <div class="row">
                    <p>Are you sure you want to Delete?</p>
                    <div class="col-md-6">
                      <button type="submit" class="btn-block btn btn-white all-btn">Yes</button>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <button type="submit" class="btn-block btn btn-white all-btn"
                          data-dismiss="modal">Cancel</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in sp-map" id="edit-popup">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">PDF Annotator Tool</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="font-size: 32px;">×</span>
        </button>

      </div>
      <div class="modal-body" style="min-height: 550px;">

      </div>
    </div>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-multiselect.js"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/intlTelInput.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/intlTelInput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/utils.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>


<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>





<script type="text/javascript">

  $(document).ready(function () {

    $(".multipleselect").addClass("forms_field-input");
    $(".select2-container").css("width", "100%");
    $('.multipleselect').select2({
      placeholder: "Join As"
    });

    $("#id_UC_ID").addClass("forms_field-input");
    $(".select2-container").css("width", "100%");
    $('#id_UC_ID').select2({
      placeholder: "Please select Category"
    });


  });
</script>
<script>
  $(document).ready(function () {
    $('#pdfform').on('submit', function () {
      alert("inside");
      $('.ajax_modal').show();
    });
  });
</script>

<script>
  $(document).ready(function () {
    $(".set > a").on("click", function () {
      if ($(this).hasClass("active")) {
        $(this).removeClass("active");
        $(this)
          .siblings(".content")
          .slideUp(200);
        $(".set > a i")
          .removeClass("fa-angle-up")
          .addClass("fa-angle-down");
      } else {
        $(".set > a i")
          .removeClass("fa-angle-up")
          .addClass("fa-angle-down");
        $(this)
          .find("i")
          .removeClass("fa-angle-down")
          .addClass("fa-angle-up");
        $(".set > a").removeClass("active");
        $(this).addClass("active");
        $(".content").slideUp(200);
        $(this)
          .siblings(".content")
          .slideDown(200);
      }
    });
  });
</script>
<script>

  var telInput = $("#phone"),
    errorMsg = $("#error-msg"),
    validMsg = $("#valid-msg");

  // initialise plugin
  telInput.intlTelInput({

    allowExtensions: true,
    formatOnDisplay: true,
    autoFormat: true,
    autoHideDialCode: true,
    autoPlaceholder: true,
    defaultCountry: "in",
    ipinfoToken: "yolo",

    nationalMode: false,
    numberType: "MOBILE",
    //onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
    preferredCountries: ['in', 'ae', 'qa', 'om', 'bh', 'kw', 'ma'],
    preventInvalidNumbers: true,
    separateDialCode: true,
    initialCountry: "in",
    geoIpLookup: function (callback) {
      $.get("http://ipinfo.io", function () { }, "jsonp").always(function (resp) {
        var countryCode = (resp && resp.country) ? resp.country : "";
        callback(countryCode);
      });
    },
    utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/utils.js"
  });

  var reset = function () {
    telInput.removeClass("error");
    errorMsg.addClass("hide");
    validMsg.addClass("hide");
  };

  // on blur: validate
  telInput.blur(function () {
    reset();
    if ($.trim(telInput.val())) {
      if (telInput.intlTelInput("isValidNumber")) {
        validMsg.removeClass("hide");
      } else {
        telInput.addClass("error");
        errorMsg.removeClass("hide");
      }
    }
  });

  // on keyup / change flag: reset
  telInput.on("keyup change", reset);



</script>

<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
        $('#imagePreview').hide();
        $('#imagePreview').fadeIn(650);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
  $("#imageUpload").change(function () {
    readURL(this);
  });
</script>

<script>
  $("#single").select2({
    placeholder: "Select Student",
    allowClear: true
  });
  $("#single2").select2({
    placeholder: "Lisiting",
    allowClear: true
  });
</script>
<script>
  $(document).ready(function () {
    $('#example').DataTable({
      "order": [[0, "desc"]]
    });
  });
</script>
<script>
  function goBack() {
    window.history.back();
  }
</script>




<script>
  const $button = document.querySelector('#sidebar-toggle');
  const $wrapper = document.querySelector('#wrapper');

  $button.addEventListener('click', (e) => {
    e.preventDefault();
    $wrapper.classList.toggle('toggled');
  });
</script>

<script>
  (function ($) {
    $.fn.countTo = function (options) {
      options = options || {};

      return $(this).each(function () {
        // set options for current element
        var settings = $.extend({}, $.fn.countTo.defaults, {
          from: $(this).data('from'),
          to: $(this).data('to'),
          speed: $(this).data('speed'),
          refreshInterval: $(this).data('refresh-interval'),
          decimals: $(this).data('decimals')
        }, options);

        // how many times to update the value, and how much to increment the value on each update
        var loops = Math.ceil(settings.speed / settings.refreshInterval),
          increment = (settings.to - settings.from) / loops;

        // references & variables that will change with each update
        var self = this,
          $self = $(this),
          loopCount = 0,
          value = settings.from,
          data = $self.data('countTo') || {};

        $self.data('countTo', data);

        // if an existing interval can be found, clear it first
        if (data.interval) {
          clearInterval(data.interval);
        }
        data.interval = setInterval(updateTimer, settings.refreshInterval);

        // initialize the element with the starting value
        render(value);

        function updateTimer() {
          value += increment;
          loopCount++;

          render(value);

          if (typeof (settings.onUpdate) == 'function') {
            settings.onUpdate.call(self, value);
          }

          if (loopCount >= loops) {
            // remove the interval
            $self.removeData('countTo');
            clearInterval(data.interval);
            value = settings.to;

            if (typeof (settings.onComplete) == 'function') {
              settings.onComplete.call(self, value);
            }
          }
        }

        function render(value) {
          var formattedValue = settings.formatter.call(self, value, settings);
          $self.html(formattedValue);
        }
      });
    };

    $.fn.countTo.defaults = {
      from: 0,               // the number the element should start at
      to: 0,                 // the number the element should end at
      speed: 1000,           // how long it should take to count between the target numbers
      refreshInterval: 100,  // how often the element should be updated
      decimals: 0,           // the number of decimal places to show
      formatter: formatter,  // handler for formatting the value before rendering
      onUpdate: null,        // callback method for every time the element is updated
      onComplete: null       // callback method for when the element finishes updating
    };

    function formatter(value, settings) {
      return value.toFixed(settings.decimals);
    }
  }(jQuery));

  jQuery(function ($) {
    // custom formatting example
    $('.count-number').data('countToOptions', {
      formatter: function (value, options) {
        return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
      }
    });

    // start all the timers
    $('.timer').each(count);

    function count(options) {
      var $this = $(this);
      options = $.extend({}, options || {}, $this.data('countToOptions') || {});
      $this.countTo(options);
    }
  });
</script>

<script>
  /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
  var dropdown = document.getElementsByClassName("dropdown-btn");
  var i;
  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
      } else {
        dropdownContent.style.display = "block";
      }
    });
  }
</script>






<!-- Loder Moder START-->

{{!--
<script>
  // complete: function () {
                                                                                                  //$(".ajax_modal").hide();
                                                                                                  //};
                                                                                                  // $(window).on('load', function () {
                                                                                                  //   $(".ajax_modal").show();
                                                                                                  //  $(".ajax_modal").delay(2000).fadeOut("slow");
                                                                                                  //  $(".ajax_modal").delay(2000).fadeOut("slow");
                                                                                                });
</script> --}}


{{!-- loader for pdf upload --}}
<style>
  .ajaxloader {
    width: 33px;
    float: right;
    padding: 2px;
  }

  .ajax_modal {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    filter: alpha(opacity=80);
    opacity: 0.6;
    -moz-opacity: 0.8;
  }

  .center {
    z-index: 1000;
    margin: 300px auto;
    padding: 10px;
    width: 220px;
    background-color: White;
    border-radius: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
  }

  .center img {
    height: 128px;
    width: 128px;
  }

  .progress2 {
    border-radius: 10px;
    text-align: center;
    padding: 3px 5px;
    margin: 10px;
    width: 200px;
    color: #fff;
  }

  .progress-bar {
    border-radius: 10px;
  }

  .progress-bar-voilet {
    background-color: #6b0e3d;
  }
</style>

<div class="ajax_modal" style="display: none; z-index: 7777777777777777;">
  <div class="center">
    <img alt="" src="/loader/pdfloader.gif" />
    <div class="progress2">
      <div id="dynamic" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
        aria-valuenow=percentComplete aria-valuemin="0" aria-valuemax="100" style="width: 0%">
        <span id="current-progress"></span>
      </div>
    </div>
  </div>

</div>



</body>

</html>